# Late-stage ECS filter for pruning invalid fields or adding supported features
filter {
  if [ecs][version] == "{{ ecs_version }}" {

    # When running grok on log.original and a grok pattern does not match, move log.original into the message field
    if "_grokparsefailure" in [tags] {
      mutate {
        rename => { "log.original" => "message" }
        id => "filter/mutate/ungrokable"
      }
    }

    # Drop the host field if it is the wrong type
    ruby {
      code => "event.remove('host') unless event.get('host').is_a?(Hash)"
    }

    # Strip out fields incompatible with ECS
    prune {
      whitelist_names => [
{%- for field in allowed_fields %}
        "^{{ field }}$"{% if not loop.last %},{% endif %}
{%- endfor %}
      ]
      id => "filter/prune/ecs_allow_list"
    }
  }
}
